<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="Titan_Magento_1.9-php" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\Program Files (x86)\Jcx.Software\VS.Php\2015\PHP 7.0\php-cgi.exe" resourceType="Unspecified" />
			<add name="Titan_Magento_1.9-inc" path="*.inc" verb="*" modules="FastCgiModule" scriptProcessor="C:\Program Files (x86)\Jcx.Software\VS.Php\2015\PHP 7.0\php-cgi.exe" resourceType="Unspecified" />
		</handlers>
		<defaultDocument>
			<files>
				<clear />
				<add value="index.php" />
			</files>
		</defaultDocument>
  </system.webServer>
</configuration>
